{% extends "base.html" %}
{% load carshop_extras %}

{% block title %}Product{% endblock %}

{% block main %}
    <table width="703" border="0" cellspacing="0" cellpadding="0" align="right" class="border">
        <tr>
            <td>{{ products|pager_generator|safe }}</td>
        </tr>
        <tr>
            <td>
                <div>
                    {% if not products %}
                        don't have this product
                    {% else %}
                        {% for product in products.object_list %}
                            {{ product|product_generalor|safe }}
                        {% endfor %}
                    {% endif %}
                </div>
            </td>
        </tr>
        <tr>
            <td>{{ products|pager_generator|safe }}</td>
        </tr>
    </table>
    <script src="/medias/scripts/cart.js" type="text/javascript"></script>

{% endblock %}
