{% extends "base.html" %}
{% load carshop_extras %}

{% block title %}Product{% endblock %}

{% block main %}


    <div>
        <span>
            {% if products.has_previous %}
                <a href="all-{{ products.previous_page_number }}.html">previous</a>
            {% endif %}
        </span>
        Page {{ products.number }} of {{ products.paginator.num_pages }}.
        <span>
            {% if products.has_next %}
                <a href="all-{{ products.next_page_number }}.html">next</a>
            {% endif %}
        </span>
    </div>

    {% if not products %}
        don't have this product
    {% else %}
        {% for product in products.object_list %}
            {{ product|product_general|safe }}
        {% endfor %}
    {% endif %}


    <script src="/medias/scripts/cart.js" type="text/javascript"></script>

{% endblock %}
