{% extends "base.html" %}
{% load seo_tags %}

{% block meta %}
	<meta name="description" content="{% seo description for object %}" />
	<meta name="keywords" content="{% seo keywords for object %}" />
{% endblock %}

{% block title %}
	{% seo title for object %}
{% endblock %}

{% block main %}
<h1>All Manufacturer</h1>
{% if not carManufacturers %}
	没有厂商
{% else  %}
	<table cellspacing="1" cellpadding="4" border="0" bgcolor="#666666" align="center" width="700">
	{% for cm in carManufacturers %}
		{% cycle '<tr>' '' '' '' %}
			<td bgcolor="#ffffff">
				{{ cm.name }}
			</td>
		{% cycle '' '' '' '</tr>' %}
	{% endfor %}
	</table>
{% endif %}

{% endblock %}