{% extends "base.html" %}

{% block title %}index{% endblock %}

{% block main %}
								<!--Middle Starts Here-->
								<table width="703" border="0" cellspacing="0" cellpadding="0"
									align="right">
									<tr>
										<td valign="top" height="45">
											<a id="hypFirst" title="Free Shipping &amp; 20% Off"><img
													title="Free Shipping &amp; 20% Off"
													src="/medias/images/First.gif"
													alt="Free Shipping &amp; 20% Off"
													style="border-width: 0px;" /> </a>
										</td>
									</tr>
									<tr>
										<td height="30" valign="top">
											<a id="hypSecond" title="View All Makes"
												href="shopbyvehicle.html"><img title="View All Makes"
													src="/medias/images/Second.gif" alt="View All Makes"
													style="border-width: 0px;" /> </a>
										</td>
									</tr>
									<tr>
										<td height="183" valign="top">
											<a id="hypThird" title="Custom Car Cover"><img
													title="Custom Car Cover" src="/medias/images/Third.gif"
													alt="Custom Car Cover" style="border-width: 0px;" /> </a>
											<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
												codebase="swflash.cab#version=7,0,19,0" width="703"
												height="174" title="Custom Car Covers">
												<param name="movie" value="/medias/flash/Third.swf" />
												<param name="quality" value="high" />
												<param name="wmode" value="transparent" />
												<param name="bgcolor" value="000000" />
												<embed src="/medias/flash/Third.swf" quality="high"
													pluginspage="http://www.macromedia.com/go/getflashplayer"
													type="application/x-shockwave-flash" width="703"
													height="174" wmode="transparent"></embed>
											</object>
										</td>
									</tr>
									<tr>
										<td valign="top">
											<table width="703" border="0" cellspacing="0" cellpadding="0">
												<tr>
													<td width="450" rowspan="2" align="left">
														<a id="hypFourth" title="Best Car Seat Covers Deals"
															href="custom_seat_covers.aspx.htm"><img
																title="Best Car Seat Covers Deals"
																src="/medias/images/Fourth.gif"
																alt="Best Car Seat Covers Deals"
																style="border-width: 0px;" /> </a>
													</td>
													<td width="253" height="77" valign="top">
														<a id="hypFifth"
															title="Custom Molded Carpet Dashboard Covers"
															href="molded_carpet_dashboard_covers.aspx.htm"><img
																title="Custom Molded Carpet Dashboard Covers"
																src="/medias/images/Fifth.gif"
																alt="Custom Molded Carpet Dashboard Covers"
																style="border-width: 0px;" /> </a>
													</td>
												</tr>
												<tr>
													<td valign="top">
														<a id="hypSixth" title="Coverking Custom Floormats"
															href="carpet-70_ounce_floor_mats.aspx.htm"><img
																title="Coverking Custom Floormats"
																src="/medias/images/Sixth.gif"
																alt="Coverking Custom Floormats"
																style="border-width: 0px;" /> </a>
													</td>
												</tr>
											</table>
										</td>
									</tr>
									<tr>
										<td height="5">
										</td>
									</tr>
									<tr>
										<td height="209" valign="top">
											<table width="703" border="0" cellpadding="0" cellspacing="0">
												<tr valign="top">
													<td width="100%" class="border">
														<div id="FeaturedProduct1_upFeaturedProduct">

															<table width="99%" border="0" cellpadding="0"
																cellspacing="0">
																<tr>
																	<td valign="Top">
																		<!-- RepeaterColumns increased to 3 in phase 2-->
																		<table id="FeaturedProduct1_dlFeaturedProduct"
																			cellspacing="0" border="0"
																			style="width: 100%; border-collapse: collapse;">
																			<tr>
																				<td valign="top" style="width: 33%;">
																					<table width="96%" border="0" cellspacing="0"
																						cellpadding="4">

																						<tr valign="top">
																							<td align="center">
																								<a href="neoprene_seat_covers.aspx.htm"><img
																										src="/medias/images/4.jpg" border="0"
																										alt='Neoprene Seat Covers' /> </a>
																							</td>

																						</tr>
																						<tr>
																							<td class="link_text" align="center">
																								<a href="neoprene_seat_covers.aspx.htm">
																									Neoprene Seat Covers </a>
																							</td>
																						</tr>
																						<tr>
																							<td colspan="2" class="desc">
																								<ul>
																									<li>
																										Made of waterproof CR-grade Neoprene material
																									</li>
																									<li>
																										Multi-layered construction for greater
																										protection and comfort
																									</li>
																									<li>
																										Custom tailored car seat covers for a perfect
																										fit
																									</li>
																									<li>
																										No additional cost for any kind of seat
																										provisions.
																									</li>
																									<li>
																										Strong, durable and effective, yet affordable
																									</li>
																									<li>
																										Most suitable for indoor use
																									</li>
																									<li>
																										Backed by one - year warranty
																									</li>
																								</ul>
																							</td>
																						</tr>
																					</table>
																				</td>
																				<td valign="top" style="width: 33%;">
																					<table width="96%" border="0" cellspacing="0"
																						cellpadding="4">

																						<tr valign="top">
																							<td align="center">
																								<a href="genuine_leather_seat_covers.aspx.htm"><img
																										src="/medias/images/26.jpg" border="0"
																										alt='Genuine Leather Seat Covers' /> </a>
																							</td>

																						</tr>
																						<tr>
																							<td class="link_text" align="center">
																								<a href="genuine_leather_seat_covers.aspx.htm">
																									Genuine Leather Seat Covers </a>
																							</td>
																						</tr>
																						<tr>
																							<td colspan="2" class="desc">
																								<ul>
																									<li>
																										Made of premium quality Italian leather
																									</li>
																									<li>
																										Excellent for natural look and feel inside
																										your vehicle
																									</li>
																									<li>
																										Breathable material makes your seats cozy in
																										winter and cool in hot summer
																									</li>
																									<li>
																										Rigorously tested for 300 hours of UV
																										weathering
																									</li>
																									<li>
																										Backed by ONE year warranty
																									</li>
																								</ul>
																								<input type="hidden" id="gwProxy" />
																								<!--Session data-->
																								<input type="hidden" onClick="jsCall();"
																									id="jsProxy" />
																								<div id="refHTML">
																									&nbsp;
																								</div>
																								<input type="hidden" id="gwProxy" />
																								<!--Session data-->
																								<input type="hidden" id="jsProxy"
																									onClick="jsCall();" />
																								<div id="refHTML">
																									&nbsp;
																								</div>
																							</td>
																						</tr>
																					</table>
																				</td>
																				<td valign="top" style="width: 33%;">
																					<table width="96%" border="0" cellspacing="0"
																						cellpadding="4">

																						<tr valign="top">
																							<td align="center">
																								<a href="autobody_armor_car_covers.aspx.htm"><img
																										src="/medias/images/136.jpg" border="0"
																										alt='Autobody Armor Car Covers' /> </a>
																							</td>

																						</tr>
																						<tr>
																							<td class="link_text" align="center">
																								<a href="autobody_armor_car_covers.aspx.htm">
																									Autobody Armor Car Covers </a>
																							</td>
																						</tr>
																						<tr>
																							<td colspan="2" class="desc">
																								<ul>
																									<li>
																										Made of three layers for effective protection:
																										Top knitted Polyester layer, middle
																										Thermoplastic Polyurethane film layer, bottom
																										Polyester felt layer.
																									</li>
																									<li>
																										All Weather Protection.
																									</li>
																									<li>
																										Superb Breathability.
																									</li>
																									<li>
																										Greater UV Protection.
																									</li>
																									<li>
																										Excellent Water Resistance.
																									</li>
																									<li>
																										Backed by FOUR year warranty
																									</li>
																								</ul>
																								<input type="hidden" id="gwProxy">
																								<!--Session data-->
																								</input>
																								<input type="hidden" id="jsProxy"
																									onClick="jsCall();" />
																								<div id="refHTML">
																									&nbsp;
																								</div>
																							</td>
																						</tr>
																					</table>
																				</td>
																			</tr>
																			<tr>
																				<td valign="top" style="width: 33%;">
																					<table width="96%" border="0" cellspacing="0"
																						cellpadding="4">

																						<tr valign="top">
																							<td align="center">
																								<a href="stormproof_car_covers.aspx.htm"><img
																										src="/medias/images/14.jpg" border="0"
																										alt='Stormproof Car Covers' /> </a>
																							</td>

																						</tr>
																						<tr>
																							<td class="link_text" align="center">
																								<a href="stormproof_car_covers.aspx.htm">
																									Stormproof Car Covers </a>
																							</td>
																						</tr>
																						<tr>
																							<td colspan="2" class="desc">
																								<ul>
																									<li>
																										Made of high density Polyester ultra-micro
																										fibers
																									</li>
																									<li>
																										All weather car covers for extreme weather
																										conditions
																									</li>
																									<li>
																										Unprocessed material provides protection for
																										extended duration
																									</li>
																									<li>
																										Superb UV resistance and excellent
																										breathability
																									</li>
																									<li>
																										Backed by a pro-rated, four year warranty
																									</li>
																								</ul>
																								<p>
																									&nbsp;
																								</p>
																								<input type="hidden" id="gwProxy" />
																								<!--Session data-->
																								<input type="hidden" onClick="jsCall();"
																									id="jsProxy" />
																								<div id="refHTML">
																									&nbsp;
																								</div>
																								<input type="hidden" id="gwProxy">
																								<!--Session data-->
																								</input>
																								<input type="hidden" id="jsProxy"
																									onClick="jsCall();" />
																								<div id="refHTML">
																									&nbsp;
																								</div>
																							</td>
																						</tr>
																					</table>
																				</td>
																				<td valign="top" style="width: 33%;">
																					<table width="96%" border="0" cellspacing="0"
																						cellpadding="4">

																						<tr valign="top">
																							<td align="center">
																								<a
																									href="molded_carpet_dashboard_covers.aspx.htm"><img
																										src="/medias/images/153.jpg" border="0"
																										alt='Molded Carpet Dashboard Covers' /> </a>
																							</td>

																						</tr>
																						<tr>
																							<td class="link_text" align="center">
																								<a
																									href="molded_carpet_dashboard_covers.aspx.htm">
																									Molded Carpet Dashboard Covers </a>
																							</td>
																						</tr>
																						<tr>
																							<td colspan="2" class="desc">
																								<ul>
																									<li>
																										Exceptionally tough dashboard covers with
																										lifetime warranty
																									</li>
																									<li>
																										Pre-molded using specific thermal process for
																										snug fitting
																									</li>
																									<li>
																										UV treated for greater UV protection
																									</li>
																									<li>
																										Available in huge array of exciting colors
																									</li>
																									<li>
																										Greater convenience and appealz
																									</li>
																									<li>
																										<span
																											id="ctl00_ContentPlaceHolder1_lblDescription">
																										</span>
																									</li>
																									<li>
																										Backed by LIFE TIME warranty
																									</li>
																								</ul>
																							</td>
																						</tr>
																					</table>
																				</td>
																				<td valign="top" style="width: 33%;">
																					<table width="96%" border="0" cellspacing="0"
																						cellpadding="4">

																						<tr valign="top">
																							<td align="center">
																								<a href="custom_masks_hood_protectors.aspx.htm"><img
																										src="/medias/images/219.jpg" border="0" alt='' />
																								</a>
																							</td>

																						</tr>
																						<tr>
																							<td class="link_text" align="center">
																								<a href="custom_masks_hood_protectors.aspx.htm">
																									Custom Masks Hood Protectors </a>
																							</td>
																						</tr>
																						<tr>
																							<td colspan="2" class="desc">
																								<ul>
																									<li>
																										Custom made masks and hood protectors provides
																										perfect covering
																									</li>
																									<li>
																										Soft inner nylon lining for snug fit and
																										greater finish
																									</li>
																									<li>
																										Effective auto accessory for hassle-free
																										protection of your car front
																									</li>
																									<li>
																										Rare combination of protection and style.
																									</li>
																								</ul>
																							</td>
																						</tr>
																					</table>
																				</td>
																			</tr>
																		</table>

																	</td>
																</tr>
																<tr>
																	<td valign="Top" align="right">

																	</td>
																</tr>
															</table>

														</div>

													</td>

												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!--Middle ends Here-->
{% endblock %}