{% extends "base.html" %}
{% load carshop_extras %}
{% block main %}
<h1>All Car</h1>
{% if not manufacturers %}
	没有厂商
{% else %}
	<table cellspacing="1" cellpadding="4" border="0" bgcolor="#666666" align="center" width="700">
	{% for m in manufacturers %}
		{% cycle '<tr>' '' '' '' %}
			<td bgcolor="#F4F4F4">
				<a style="text-decoration:none;color:#00B2ED;" href="/car/{{ m.manufacturer_name|space2line }}.html">{{ m.manufacturer_name }}</a>
			</td>
		{% cycle '' '' '' '</tr>' %}
	{% endfor %}
	</table>
{% endif %}

{% endblock %}
