{% extends 'base.html' %}


{% block title %}check order{% endblock %}

{% block main %}
    <script>
        function changeQty(orderId, orderProductId, count) {
            $.ajax({url:'/order/changeQty/' + orderId + '/' + orderProductId + '/' + count,
                        type: 'post',
                        success: function(data, status) {
                            if ('error' == data) {
                                alert('error');
                            }
                            else {
                                var dataObj = eval("(" + data + ")");
                                $('#total_' + orderId).text(parseFloat(dataObj.total).toFixed(2));
                                $('#qty_' + orderProductId)[0].value = dataObj.qty;
                            }
                        },
                        error: function(xhr, desc, err) {
                            alert(err);
                        }
                    });
        }

        function removeOrder(orderId) {

            if (true == confirm("Are you sure you remove!")) {
                $.ajax({url:'/order/removeOrder/' + orderId,
                            type: 'get',
                            success: function(data, status) {
                                if ('error' == data) {
                                    alert('error d')
                                } else {
                                    $('#thead_' + orderId).remove();
                                    $('#tbody_' + orderId).remove();

                                    if ('0' != data) {
                                        $('#orderStatus').text(data);
                                    } else {
                                        $('#orderStatus').text("");
                                    }
                                }
                            },
                            error: function(xhr, desc, err) {
                                alert(err);
                            }
                        });
            }
        }

        function removeOrderProduct(orderId, orderProductId) {
            if (true == confirm("Are you sure you remove!")) {
                $.ajax({url:'/order/removeOrderProduct/' + orderId + '/' + orderProductId,
                            type: 'get',
                            success: function(data, status) {
                                if ('error' == data) {
                                    alert('error d')
                                } else {
                                    if ('0.00' == data) {
                                        $('#thead_' + orderId).remove();
                                        $('#tbody_' + orderId).remove();
                                        $('#orderStatus').text("");
                                    }
                                    $('#tr_' + orderProductId).remove();
                                    $('#total_' + orderId).text(data);
                                }
                            },
                            error: function(xhr, desc, err) {
                                alert(err);
                            }
                        });
            }
        }

    </script>
    <a href="#">more</a>

    <div>
        <span>
            {% if orders.has_previous %}
                <a href="/order/orderStatus/{{ orders.previous_page_number }}">previous</a>
            {% endif %}
        </span>
        Page {{ orders.number }} of {{ orders.paginator.num_pages }}.
        <span>
            {% if orders.has_next %}
                <a href="/order/orderStatus/{{ orders.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>

    <table style="width:100%;" id='table_order'>
        {% for order in orders.object_list %}
            <thead id="thead_{{ order.pk }}">
            <tr>
                <th align="left" colspan="2" style="width:360px;">No.:&nbsp;{{ order.pk }}</th>
                <th align="left" colspan="2" style="width:80px;"><span
                        id="total_{{ order.pk }}">{{ order.order_total_price }}</span></th>
                <th><input type="button" value="PAY NOW" class="pay_now"
                           onclick="window.location='/order/checkout/{{ order.pk }}'"/></th>
                <th><a href="javascript:" onclick="removeOrder('{{ order.pk }}')"><img src="/medias/images/remove.png"/></a>
                </th>
            </tr>
            </thead>
            {% if order.order_products %}
                <tbody id="tbody_{{ order.pk }}" style="BORDER-BOTTOM: #a8a8a8 1px dashed;">
                {% for order_product in order.order_products %}
                    <tr id="tr_{{ order_product.pk }}">
                        <td style="width:80px;"><img style="height:80px;width:80px;margin-right:30px;"
                                                     src="/medias/images/{{ order_product.product_image }}"/></td>
                        <td>{{ order_product.product_name }}</td>
                        <td>{{ order_product.product_unit_price }}</td>
                        <td><a href="javascript:"
                               onclick="changeQty('{{ order.pk }}', {{ order_product.pk }},'-1');"><img
                                src="/medias/images/list_sub.png"></a>&nbsp;<input
                                id="qty_{{ order_product.pk }}" type="text" value="{{ order_product.product_quantity }}"
                                class="qty" readonly="readonly"/>&nbsp;<a href="javascript:"
                                                                          onclick="changeQty('{{ order.id }}', {{ order_product.pk }}, '1');"><img
                                src="/medias/images/list_add.png"></a>
                        </td>
                        <td></td>
                        <td><a href="javascript:"
                               onclick="removeOrderProduct('{{ order.pk }}', '{{ order_product.pk }}')"><img
                                src="/medias/images/remove_2.png"/></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}
