{% extends "base.html" %}

{% block title %}buy{% endblock %}

{% block main %}
<h1>{{ type.parameter_display_name }}</h1>

{% if not products %}
	don't have this products
{% else  %}
	{% for product in products %}
		{{product.product_name}}<br />
	{% endfor %}
	
	<table width="100%" border="0" cellspacing="0" cellpadding="4" bgcolor="#f6f6f6">
		<tr id="ctl00_ContentPlaceHolder1_trListPrice">
			<td width="30%" class="textb">
				List Price:
			</td>
			<td width="70%">
				<span id="ctl00_ContentPlaceHolder1_lblListPrice">USD {{ type.product_price }}</span>
			</td>
		</tr>
		<tr id="ctl00_ContentPlaceHolder1_trCovers4AutoPrice">
			<td class="textb">
				<b class="price">Covers4auto:</b>
			</td>
			<td class="price">
				<span id="ctl00_ContentPlaceHolder1_lblCover4autoPrice">USD 250.95 (Save $62.74 = 20%)</span>
			</td>
		</tr>
		<tr>
			<td valign="top" colspan="2" class="desc">
				<b>Description:</b>
				<span id="ctl00_ContentPlaceHolder1_lblDescription">
				<ul>
					<li>Made of waterproof CR-grade Neoprene material</li>
					<li>Multi-layered construction for greater protection and comfort</li>
					<li>Custom tailored car seat covers for a perfect fit</li>
					<li>No additional cost for any kind of seat provisions.</li>
					<li>Strong, durable and effective, yet affordable</li>
					<li>Most suitable for indoor use</li>
					<li>Backed by one - year warranty</li>
				</ul>
				</span>
			</td>
		</tr>
	</table>
	
{% endif %}

{% endblock %}