{% extends "base.html" %}

{% load carshop_extras %}

{% block title %}cart{% endblock %}

{% block main %}
    <script type="text/javascript">


    </script>

    <b>name</b>
    <b>unit price</b>
    <b>quantity</b>


    {% for item in items %}
        {{ item|cart_item_general|safe }}
    {% endfor %}

    Total Price: {{ totalPrice }}
    <br />
    <a href="/order/saveOrder" alt="">Next</a>
    <br />
    <a href="/cart/clean" alt="checkout">Clean Cart</a>
{% endblock %}
