{% extends "base.html" %}
{% load carshop_extras %}

{% block title %}Home{% endblock %}

{% block main %}
<script src="/medias/scripts/cart.js" type="text/javascript"></script>
								<table width="703" border="0" cellspacing="0" cellpadding="0"
									align="right">
									<tr>
										<td valign="top" height="45">
											<a id="hypFirst" title="Free Shipping &amp; 20% Off"><img
													title="Free Shipping &amp; 20% Off"
													src="/medias/images/First.gif"
													alt="Free Shipping &amp; 20% Off"
													style="border-width: 0px;" /> </a>
										</td>
									</tr>
									<tr>
										<td height="30" valign="top">
											<a id="hypSecond" title="View All Makes"
												href="shopbyvehicle.html"><img title="View All Makes"
													src="/medias/images/Second.gif" alt="View All Makes"
													style="border-width: 0px;" /> </a>
										</td>
									</tr>
									<tr>
										<td height="183" valign="top">
											<a id="hypThird" title="Custom Car Cover"><img
													title="Custom Car Cover" src="/medias/images/Third.gif"
													alt="Custom Car Cover" style="border-width: 0px;" /> </a>
											<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
												codebase="swflash.cab#version=7,0,19,0" width="703"
												height="174" title="Custom Car Covers">
												<param name="movie" value="/medias/flash/Third.swf" />
												<param name="quality" value="high" />
												<param name="wmode" value="transparent" />
												<param name="bgcolor" value="000000" />
												<embed src="/medias/flash/Third.swf" quality="high"
													pluginspage="http://www.macromedia.com/go/getflashplayer"
													type="application/x-shockwave-flash" width="703"
													height="174" wmode="transparent"></embed>
											</object>
										</td>
									</tr>
									<tr>
										<td valign="top">
											<table width="703" border="0" cellspacing="0" cellpadding="0">
												<tr>
													<td width="450" rowspan="2" align="left">
														<a id="hypFourth" title="Best Car Seat Covers Deals"
															href="custom_seat_covers.aspx.htm"><img
																title="Best Car Seat Covers Deals"
																src="/medias/images/Fourth.gif"
																alt="Best Car Seat Covers Deals"
																style="border-width: 0px;" /> </a>
													</td>
													<td width="253" height="77" valign="top">
														<a id="hypFifth"
															title="Custom Molded Carpet Dashboard Covers"
															href="molded_carpet_dashboard_covers.aspx.htm"><img
																title="Custom Molded Carpet Dashboard Covers"
																src="/medias/images/Fifth.gif"
																alt="Custom Molded Carpet Dashboard Covers"
																style="border-width: 0px;" /> </a>
													</td>
												</tr>
												<tr>
													<td valign="top">
														<a id="hypSixth" title="Coverking Custom Floormats"
															href="carpet-70_ounce_floor_mats.aspx.htm"><img
																title="Coverking Custom Floormats"
																src="/medias/images/Sixth.gif"
																alt="Coverking Custom Floormats"
																style="border-width: 0px;" /> </a>
													</td>
												</tr>
											</table>
										</td>
									</tr>
									<tr>
										<td height="5">
										</td>
									</tr>
									<tr>
										<td height="209" valign="top">
											<table width="703" border="0" cellpadding="0" cellspacing="0">
												<tr valign="top">
													<td width="100%" class="border">
														<div id="FeaturedProduct1_upFeaturedProduct">

															<table width="99%" border="0" cellpadding="0"
																cellspacing="0">
																<tr>
																	<td valign="Top">
																		<!-- RepeaterColumns increased to 3 in phase 2-->
																		<table id="FeaturedProduct1_dlFeaturedProduct"
																			cellspacing="0" border="0"
																			style="width: 100%; border-collapse: collapse;">
																			<tr>
																				<td valign="top" style="width: 33%;">
																					<table width="96%" border="0" cellspacing="0" cellpadding="4" style="padding: 10px 10px 10px 10px;">
																						<tr valign="top" style="padding: 10px 10px 10px 10px;">
																							
	{% for product in products %}
		{{ product|product_general|safe }}
	{% endfor %}
																							
																						</tr>
																					</table>
																				</td>
																			</tr>
																		</table>

																	</td>
																</tr>
																<tr>
																	<td valign="Top" align="right">

																	</td>
																</tr>
															</table>

														</div>

													</td>

												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!--Middle ends Here-->
{% endblock %}