{% extends "base.html" %}
{% load carshop_extras %}

{% block title %}Login{% endblock %}

{% block main %}
<script language="javascript" type="text/javascript">


</script>
<div style="padding:0 0 0 7em;">
	<table width="90%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td width="2%" style="width:17px;background:url(/medias/images/conblu1.jpg) no-repeat">
				
			</td>
			<td width="96%" class="blu_bg" align="center">
				<img style="display:block;" src="/medias/images/n_cust.jpg" alt="New Customer Sign Up" />
			</td>
			<td width="2%" style="width:17px;background:url(/medias/images/conblu2.jpg) no-repeat">
				
			</td>
		</tr>
		<tr>
			<td colspan="3" class="blu_rl">
				<div>
					<table width="100%" cellpadding="0" cellspacing="0" border="0">
						<tr>
							<td width="100%">
								<span class="error" style="font-weight:bold;"></span></td>
						</tr>
						<tr>
							<td width="100%">
								<div onkeypress="" style="width:100%;">
									<div style="display:none;">
										<div class="PleaseWait" style="z-index: 150; position: absolute;">
											<img src="/medias/images/loader.gif" alt="" /></div>
									</div>
									<form action="{{ request.path }}" name="registerForm" method="post">
									<table cellpadding="4" cellspacing="0" border="0" width="100%">
										<tr>
											<td class="textb" width="40%" valign="top">Username: <b class="star">*</b></td>
											<td width="60%">
												<input type="text" class="box1" id="username" name="username">
											</td>
										</tr>
										<tr>
											<td class="textb">Password:<b class="star">*</b></td>
											<td>
												<input type="password" class="box1" id="password" name="password">
											</td>
										</tr>
										<tr>
											<td></td>
											<td>
												<input type="submit" name="login_btn" id="login_btn" style="border:0px; background: url('/medias/images/buttons/login_btn.gif') no-repeat 0 0; width: 79px; height: 23px;" alt="Submit" value="" style="border-width:0px;" />
											</td>
										</tr>
									</table>
									</form>
							</div>
						</td>
					</tr>
			</table>
		</div>
	</td>
	</tr>
	<tr>
		<td>
			<img src="/medias/images/conblu3.jpg" alt="" /></td>
		<td class="blu_bgb">&nbsp;</td>
		<td><img src="/medias/images/conblu4.jpg" alt="" /></td>
	</tr>
</table>

</div>


{% endblock %}
