{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block main %}
<div style="padding:0 0 0 17em;">
	<table width="70%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td width="2%">
				<img src="/medias/images/conblu1.jpg" alt="" />
			</td>
			<td width="96%" class="blu_bg" align="center">
				<img src="/medias/images/n_cust.jpg" alt="New Customer Sign Up" />
			</td>
			<td width="2%">
				<img src="/medias/images/conblu2.jpg" alt="" /></td>
		</tr>
		<tr>
			<td colspan="3" class="blu_rl">
				<div id="">
					<table width="100%" cellpadding="0" cellspacing="0" border="0">
						<tr>
							<td width="100%">
								<span id="" class="error" style="font-weight:bold;"></span></td>
						</tr>
						<tr>
							<td width="100%">
								<div id="" onkeypress="" style="width:100%;">
									<div id="" style="display:none;">
										<div class="PleaseWait" style="z-index: 150; position: absolute;">
											<img src="/medias/images/loader.gif" alt="" /></div>
									</div>
									<table cellpadding="4" cellspacing="0" border="0" width="100%">
										<tr id="">
											<td colspan="2" class="text_bg2" align="center">
												<span id="">PERSONAL INFORMATION</span></td>
										</tr>
										<tr>
											<td colspan="2">
											</td>
										</tr>
										<tr>
											<td class="textb" width="40%" valign="top">First Name: <b class="star">*</b></td>
											<td width="60%">
												<input name="" type="text" maxlength="40" id="" class="box1" />
												<span id="" class="error" style="color:Red;display:none;">Required.</span>
											</td>
										</tr>
										<tr>
											<td class="textb">Last Name:<b class="star">*</b></td>
											<td>
											<input name="" type="text" maxlength="40" id="" class="box1" /><span id="" class="error" style="color:Red;display:none;">Required.</span>
											</td>
										</tr>
										<tr>
											<td class="textb">Company:</td>
											<td>
												<input name="" type="text" maxlength="100" id="" class="box1" />
											</td>
										</tr>
										<tr>
											<td class="textb" valign="top">Address: <b class="star">*</b></td>
											<td>
											<textarea name="" rows="2" cols="20" id="" class="box1"></textarea>
											<span id="" class="error" style="color:Red;display:none;">Required.</span></td>
										</tr>
										<tr>
											<td class="textb" valign="top">City: <b class="star">*</b></td>
											<td>
											<input name="" type="text" maxlength="100" id="" class="box1" />
											<span id="" class="error" style="color:Red;display:none;">Required.</span></td>
										</tr>
										<tr>
											<td class="textb" valign="top">Zip: <b class="star">*</b></td>
											<td>
												<input name="" type="text" maxlength="10" id="" class="box1" />
												<span id="" class="error" style="color:Red;display:none;">Required.</span></td>
										</tr>
										<tr>
											<td class="textb">Country:</td>
											<td>
												<select name="" onchange="" id="" class="dropdown">
													{% for country in countries %}
													<option value="{{ country.parameter_value }}">{{ country.parameter_display_name }}</option>
													{% endfor %}
												</select>
											<span id="" class="error" style="color:Red;display:none;">Required.</span></td>
										</tr>
										<tr>
											<td class="textb">State:<b class="star">*</b></td>
											<td>
												<select name="" id="" disabled="disabled" class="dropdown">
			<option value="AL">Alabama</option>
			<option value="AK">Alaska</option>

			<option value="AZ">Arizona</option>
			<option value="AR">Arkansas</option>
			<option value="CA">California</option>
			<option value="CO">Colorado</option>
			<option value="CT">Connecticut</option>
			<option value="DE">Delaware</option>

			<option value="DC">District of Columbia</option>
			<option value="FL">Florida</option>
			<option value="GA">Georgia</option>
			<option value="HI">Hawaii</option>
			<option value="ID">Idaho</option>
			<option value="IL">Illinois</option>

			<option value="IN">Indiana</option>
			<option value="IA">Iowa</option>
			<option value="KS">Kansas</option>
			<option value="KY">Kentucky</option>
			<option value="LA">Louisiana</option>
			<option value="ME">Maine</option>

			<option value="MD">Maryland</option>
			<option value="MA">Massachusetts</option>
			<option value="MI">Michigan</option>
			<option value="MN">Minnesota</option>
			<option value="MS">Mississippi</option>
			<option value="MO">Missouri</option>

			<option value="MT">Montana</option>
			<option value="NE">Nebraska</option>
			<option value="NV">Nevada</option>
			<option value="NH">New Hampshire</option>
			<option value="NJ">New Jersey</option>
			<option value="NM">New Mexico</option>

			<option value="NY">New York</option>
			<option value="NC">North Carolina</option>
			<option value="ND">North Dakota</option>
			<option value="OH">Ohio</option>
			<option value="OK">Oklahoma</option>
			<option value="OR">Oregon</option>

			<option value="PA">Pennsylvania</option>
			<option value="RI">Rhode Island</option>
			<option value="SC">South Carolina</option>
			<option value="SD">South Dakota</option>
			<option value="TN">Tennessee</option>
			<option value="TX">Texas</option>

			<option value="UT">Utah</option>
			<option value="VT">Vermont</option>
			<option value="VA">Virginia</option>
			<option value="WA">Washington</option>
			<option value="WV">West Virginia</option>
			<option value="WI">Wisconsin</option>

			<option value="WY">Wyoming</option>

												</select>
											</td>
										</tr>
										<tr>
											<td class="textb">Phone Number:</td>
											<td>
												<input name="" type="text" maxlength="20" id="" class="box1" />
											</td>
										</tr>
										<tr>
											<td class="textb">Fax Number:</td>
											<td>
												<input name="" type="text" maxlength="20" id="" class="box1" />
											</td>
										</tr>
										<tr>
											<td colspan="2" width="100%">
												<div id="" onkeypress="" style="width:100%;">
													<table width="100%" cellpadding="4" cellspacing="0" border="0">
														<tr>
															<td colspan="2" class="text_bg2" align="center">
																LOGIN INFORMATION</td>
														</tr>
														<tr>
															<td class="textb" width="40%" valign="top">
																Email Address: <b class="star">*</b></td>
															<td width="60%">
																<input name="" type="text" maxlength="200" id="" class="box1" />
																<span id="" class="error" style="color:Red;display:none;">Required.</span>
																<span id="" style="color:Red;display:none;">Invalid Email ID</span>
															</td>
														</tr>
														<tr>
															<td class="textb" valign="top">
																Password: <b class="star">*</b></td>
															<td>
																<input name="" type="password" maxlength="30" id="" class="box1" />
																<span id="" class="error" style="color:Red;display:none;">Required.</span></td>
														</tr>
														<tr>
															<td class="textb" valign="top">
														Confirm Password:<b class="star">*</b></td>
															<td>
																<input name="" type="password" maxlength="30" id="" class="box1" />
																<span id="" class="error" style="color:Red;display:none;">Required.</span>
																<span id="" style="color:Red;display:none;">Password Mismatch</span></td>
														</tr>
													</table>
												</div>
											</td>
										</tr>
										<tr id="">
											<td colspan="2" class="textb">
												Would you like to subscribe for free Newsletter? :
												<table id="" border="0">
													<tr>
														<td><input id="" type="radio" name="" value="yes" checked="checked" /><label for="">Yes</label></td><td><input id="" type="radio" name="" value="no" /><label for="">No</label></td>
													</tr>
												</table>
											</td>
										</tr>
										<tr>
											<td>
											</td>
											<td>
												<input type="image" name="" id="" src="/medias/images/buttons/submit_btn.gif" alt="Submit" onclick="" style="border-width:0px;" />
												<input type="image" name="" id="" src="/medias/images/buttons/reset.gif" alt="Reset" onclick="" style="border-width:0px;" />
											</td>
										</tr>
									</table>
							</div>
						</td>
					</tr>
			</table>  
		</div>
	</td>
	</tr>
	<tr>
		<td>
			<img src="/medias/images/conblu3.jpg" alt="" /></td>
		<td class="blu_bgb">&nbsp;</td>
		<td><img src="/medias/images/conblu4.jpg" alt="" /></td>
	</tr>
</table>

</div>
{% endblock %}