{% extends "base.html" %}

{% load carshop_extras %}

{% block title %}cart{% endblock %}

{% block main %}
    <script type="text/javascript">


    </script>
    
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <b>name</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <b>unit price</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <b>quantity</b>


    {% for item in items %}
        {{ item|cart_item_general|safe }}
    {% endfor %}

    Total Price: {{ totalPrice }}
    <br />
    <input type="button" value="PAY NOW" class="pay_now"
                           onclick="window.location='/order/checkout'"/>
    <br />
    <a href="/cart/clean" alt="checkout">Clean Cart</a>
{% endblock %}
